{{#partial "content"}}

    <h1>Endangered Animals</h1>
    {{#if animals}}
<ul>
    {{#each animals}}
        <li><a href="/animal-details/{{id}}">{{name}}</a></li>
    {{/each}}
</ul>


    {{else}}
        <p style="color:white;">No Animals Yet.</p>
    {{/if}}

{{/partial}}
{{> layout.hbs }}

