{{#partial "content"}}

    <h1>All Animals</h1>
    {{#if animals}}
        <div class="row">
            <ul >
                {{#each animals}}
                    <li><a href="/endangered-animals/{{id}}">{{name}}</a></li>
                {{/each}}
            </ul>

        </div>
    {{else}}
        <p style="color:white;">No Animals Yet.</p>
    {{/if}}

{{/partial}}
{{> layout.hbs }}
