
{{#partial "content"}}
    <div class="row">
        <ul >

            {{#if foundSighting}}
                <p class="font-weight-bold">Location: {{ foundSighting.location }}</p>
                <p class="font-weight-bold">Ranger Name: {{ foundSighting.rangername }}</p>
                <p class="font-weight-bold">Animal: {{ foundSighting.animalid }}</p>


                    <a class="btn btn-outline-danger" href="/sightingss/{{id}}/delete">REMOVE HERO</a>
                </p>
            {{/if}}
        </ul>

    </div>

{{/partial}}

{{> layout.hbs}}