{{#partial "content"}}
    <div >
        {{#if sightings}}
<ul>
    {{#each sightings}}
        <li><a href="/sighting-details/{{id}}">{{foundSightings.name}}</a></li>
    {{/each}}

</ul>



        {{else}}
            <p style="color:white;">No Sightings Yet.</p>
        {{/if}}



    </div>

{{/partial}}

{{> layout.hbs}}