{{#partial "content"}}

    <h1>All Sightings</h1>
    {{#if sightings}}
        <div class="row">
            <ul >
                {{#each sightings}}
                    <li><a href="/sightings-details/{{id}}">{{name}}</a></li>
                {{/each}}
            </ul>

        </div>
    {{else}}
        <p style="color:white;">No sightings Yet.</p>
    {{/if}}

{{/partial}}
{{> layout.hbs }}
